<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- dependencies should be loaded first  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/ionicons.css">

        <!-- layout of all pages and basic setup -->
        <link rel="stylesheet" href="/css/layout.css">
        <!-- header -->
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <!-- home-->
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css">

        <!-- footer -->
        <link rel="stylesheet" type="text/css" href="/css/footer.css">

        <!-- now queries should be loaded at last so that every css added above can be over written effectively-->
        <link rel="stylesheet" type="text/css" href="/css/queries.css">
        <%- style %>
    </head>   
        <body>
    

        <% if (title==='Home') { %>
        <%- include('_header'); %>
        <% } else {%>
        <%- include('_header_white'); %>
        <% } %>
        <main id="layout-main">
            <%- body %>
        </main>
        


        <%- include('_footer'); %>

        <%- script %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
        <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>